#box1{
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    padding: 10px 20px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    margin-left: 20px;
    margin-right: 20px;

    width: 50%;
    height: 50%;
}

.box2{
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    padding: 10px 20px;
    margin: 10px, 10px;
    margin-left: 20px;
    margin-right: 20px;

    width: 300px;
    height: 150px;
}

