#div1{
    border-style: solid;
    border-color: brown;
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}
#div2{
    border-style: solid;
    border-color: brown;
    width: 200px;
    height: 200px;
}